:root{
    --primary-color: black;
    --secondary-color: #808080;
    --acent-color: #b00000;
    --primary-font: "Inter", sans-serif; 
    --secondary-font: "Poppins", sans-serif;
    --normal-font: 400;
    --medium-font: 600;
    --bold-font: 700;
    --bolder-font: 800;
    --primary-font-size: 12px;
}
body{
    font-size: var(--primary-font-size)
}
.content{
    width: 1285px;
    margin: 0 auto;
}
.list{
    list-style: none;
}
/*header*/
.header{
    display: flex;
    padding: 40px 0 0;
    margin-bottom: 80px;
    
}

.logo{
    display: block;
    width: 90px;
}
.menu-list{
    list-style: none;
    display: flex;
}
.menu-item:first-child{
    margin-right: 135px;

}
.menu-item{
    margin-right: 33px;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 15;
    font-weight: var(--medium-font);
   align-items: center;
}
.menu-item:last-child{
    margin-right: 0;
    margin-left: 200px;
    display: flex;

}
.menu-item:last-child::after{

}
.menu{
    margin-right: 33px;
}
.menu-link{
color: var(--primary-color);
text-decoration: none;
}

.phone{
    margin-right: 6px;
}
/*секція з кнопками*/

/* чмарні технології*/
/* логотипи*/
/* підтримка*/
/*тарифні плани*/
/* footer*/





































}
.account {
display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;
    position: absolute;
    width: 160px;
    height: 48px;
    left: 112px;
    top: 617px;
    background: #ffffff;
    
    border-radius: 8px;
    cursor: pointer;
 
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
}
.account:hover{
    background: #aa2b2b;
    color: #ffffff;
    box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
    
}
.plan {
box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;
    position: absolute;
    width: 160px;
    height: 48px;
    left: 296px;
    top: 617px;
    border: 1px solid #000000;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
}
.plan:hover {
    background: #aa2b2b;
    color: #ffffff;
    box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
}

